# Stripe keys
STRIPE_PUBLISHABLE_KEY=pk_test_51O5y7PBAzBHSrB6pee5DcrwlMHQDnTsaJPrVuoM1K257C0AdFERoFAlYivoi0oGTj8LPq8P76YHXhMroJRzTJdSE00weq8Y9bM
STRIPE_SECRET_KEY=sk_test_51O5y7PBAzBHSrB6p3xT9Ty9ZIySAYd9sjGMlW8bpEUSG7vY9Z1JdcTl9uqw1DGJKHDLOpXB4mwLGrpcpGek4W8Gc00jc7iY94e

# Required to run webhook
# See README on how to use the Stripe CLI to setup
STRIPE_WEBHOOK_SECRET=whsec_123...

# Stripe subscription data
DOMAIN=http://localhost:4242
BASIC_PRICE_ID=price_xyz987...
PRO_PRICE_ID=price_abc123...

# Environment
STATIC_DIR=../../client
